header {
    display: flex;
  }
  .logo {
    height: 8em;
  }

  .content {
    display: flex;
  }
  .fishList {
    border: 3px dotted forestgreen;
  }
  .quotes {
    border: 3px dotted goldenrod;
  }
  .locations {
    border: 3px dotted lightcoral;
  }
  .tankTips {
    border: 3px dotted dodgerblue;
  }
  .container--left {
    flex: 3;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    
  }
  .container--left article {
    margin-bottom: 25px;
  }
  .logo {
    height: 8em;
  }
  .content {
    display: flex;
  }
  .fishList {
    border: 3px dotted navy;
  }
  .quotes {
    border: 3px dotted royalblue;
  }
  .locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px dotted turquoise;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .tankTips {
    border: 3px dotted brown;
  }
  .container--left {
    border: 5px solid orange;
  }
  
  .container--right {
    justify-content: right;
  }
  .fish__image {
    height: 8em;
  }
  .location__image {
    height: 5em;
  }
  .left_side {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: left;
      align-items: center;
  }
  .tankTips {
      display: flex;
      flex-direction: column;
      height: 85%;
      width: 50%;
      align-items: right;
    
  }
  